<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Project</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body class="container">
    <h1>Welcome to Test Section</h1>
    <div class="parts">
        <a href="/products" class="section">All Products</a>
        <a href="/filter" class="section">Filter Products</a>
        <a href="/get" class="section">Get Products</a>
        <a href="/post" class="section">Post Products</a>
        <a href="/put" class="section">Put Products</a>
        <a href="/patch" class="section">Patch Products</a>
        <a href="/delete" class="section">Delete Products</a>
    </div>
</body>


</html>